@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

body {
  width: 100%;
  height: 85vh;
  background-image: url("/images/bg-img.jpeg");
  background-size: 120%;
  display: grid;
  align-items: center;
  place-items: center;
}
.text-center {
  background-color: #e8c7c7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 40%;
}

.container {
  background: rgba(0, 212, 255, 0.3);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 1200px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
}
#fa {
  font-size: 60px;
}

.temp-container {
  width: 100%;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 60%;
  font-family: monospace;
  padding: 5px;
  outline: none;
  border-color: rgba(255, 255, 255, 0.6);

  font-size: 18px;
}

input::placeholder {
  color: rgb(81, 6, 21);
}

/* Responsive CSS */
@media (min-width: 600px) {
  .container {
    width: 70%;
  }

  input {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .container {
    width: 70%;
  }

  input {
    width: 50%;
  }
}
